<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .container {padding: 30px; margin: 60px; background-color: #FAFAFA;}
      .domain {display: inline; width: 90%;}
      .row {line-height: 2.2; margin-bottom: 20px}
      #hosts {display: inline}
    </style>
  </head>
  <body style="background-color: #ddd;">
    <div class="container">
      <div><a href="/">‹ Home</a></div><br/>
      <h5>Server settings</h5>
        <form class="form-inline">
          <div class="row">
            <div class="col-auto"></div>
            <div class="col-auto">Domain name:</div>
            <div class="col-md-2">
              <input type="text" class="form-control domain" value="{{ domain }}" placeholder="go"><span> / </span>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">Update</button>
            </div>
          </div>
        </form>

        <h5>Backup and restore</h5>
        <form method="post" action="/restore" enctype="multipart/form-data">
          <div class="row">

            <div class="col-auto"></div>
            <div class="col-auto">⬆️ Restore backup:</div>
            <div class="col-auto">
                <input class="form-control" type="file" name="file">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-outline-success">Upload</buttom>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-auto"></div>
          <div class="col-auto">
            <a href="/backup">
              <button type="button" class="btn btn-outline-primary">⬇️ Download backup</button>
            </a>
          </div>
          <div class="col-auto">
            <form method="post" action="/reset" onsubmit="return confirm('Do you really want to delete everything? This action cannot be undone!');">
              <button type="submit" class="btn btn-outline-danger">💣 Reset everything</button>
            </form>
          </div>
        </div>

        <h5>Instructions</h5>
        <div class="row">
          <div class="col-auto"></div>
          <div class="col-auto">Add the following line to your <pre id="hosts">/etc/hosts</pre> file:<br/>
            <pre><span id="domain">[IP of your server]</span>   <span>{{ domain }}</span></pre>
          </div>
        </div>
      </div>
    <script>
      if (navigator.platform.indexOf('Win') > -1) {
        document.getElementById("hosts").innerHTML = "c:\\Windows\\System32\\Drivers\\etc\\hosts";
      }
      if (window.location.hostname.indexOf('.') > -1) {
        document.getElementById("domain").innerHTML = window.location.hostname;
      }
    </script>
  </body>
</html>
