<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .container {padding: 30px; margin: 100px}
    </style>
  </head>
  <body style="background-color: #ddd;">
    <div class="container" style="background-color: #FAFAFA;">
      <h3>Add a new URL</h3>
      <form method="post" action="/submit_link">
        <div class="row g-3 align-items-center">
          <div class="col-auto"></div>
          <div class="col-auto">
            <label for="name" class="col-form-label">Short URL: go/</label>
          </div>
          <div class="col-auto">
            <input id="name" class="form-control" placeholder="your-short-link" name="name">
          </div>
          <div class="col-auto"></div>
          <div class="col-md-1">
            <label for="url" class="col-form-label">Full URL:</label>
          </div>
          <div class="col-md-4">
            <input id="url" type="url" class="form-control" placeholder="https://www.google.com" name="url">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
