<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set type = 'status check' if status else 'link' %}
    <title>{{domain}}/ {{type}}s</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .container {padding: 30px; margin: 60px; background-color: #FAFAFA;}
      .nopad {padding: 0px}
    </style>
  </head>
  <body style="background-color: #ddd;">
    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {% if not status %}
    <div class="container">
      <h5>Add a new link</h5>
      <form method="post" action="/submit_link">
        <div class="row g-3 align-items-center">
          <div class="col-auto"></div>
          <div class="col-auto">
            <label for="name" class="col-form-label">{{domain}}/</label>
          </div>
          <div class="col-auto">
            <input id="name" class="form-control" placeholder="your-{{type.replace(' ', '-')}}" name="name"
            {% if name %}
            value="{{name}}" readonly
            {% endif %}
            />
          </div>
          <div class="col-auto"></div>
          <div class="col-md-1">
            <label for="url" class="col-form-label">Full URL:</label>
          </div>
          <div class="col-md-4">
            <input id="url" type="url" class="form-control" placeholder="https://www.google.com" name="url"/>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    {% else %}
      <div class="container">
        <h5>Current status checks</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">Current status</th>
              <th scope="col">Last downtime</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for link in status_links %}
            {% set status = statuses[link.id]|int %}
            <tr>
              <td>{{domain}}/{{ link.name }}</td>
              <td><a href="{{ link.url }}">{{ link.url }}</a></td>
              <td>{{ "🟢" if status<300 else "🟡" if status < 400 else "🔴"}} {{ status }}</td>
              <td>{{ downtimes.get(link.id, "Never") }}</td>
              <td>
                <form method="post" action="/update_link" class="inline">
                  <input type="hidden" name="id" value="{{ link.id }}" />
                  <button type="submit" class="btn nopad" name="action" value="remove_status_check" title="Remove as status check">
                    ➖ Remove
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
    {% if links %}
      <div class="container">
        <h5>Current links</h5>
        <table class="table table-striped">
          <tbody>
            {% for link in links %}
            <tr>
              <td>{{domain}}/{{ link.name }}</td>
              <td><a href="{{ link.url }}">{{ link.url }}</a></td>
              <td>
                <form method="post" action="/update_link" class="inline">
                  <input type="hidden" name="id" value="{{ link.id }}" />
                  {% if status %}
                  <button type="submit" class="btn nopad" name="action" value="add_status_check" title="Add as status check">
                    ➕ Add as status check
                  </button>
                  {% else %}
                  <button type="submit" class="btn nopad" name="action" value="delete">
                    🗑️
                  </button>
                  {% endif %}
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
    <div class="text-center text-muted" style="font-size: 10px">
      {% if status %}<a href="/">URL shortener</a> | <b>Status checker</b>
      {% else %}<b>URL shortener</b> | <a href="/status">Status checker</a>{% endif %}
    </div>
  </body>
</html>
